.invisible {
    display: none;
}

.card {
    border-radius: 1vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-hide{
    background-color: skyblue;

    transition: transform 0.5s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.card-hide > p {
    display: none;
}

.card-show {
    background-color: antiquewhite;

    transition: transform 0.5s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
}

@keyframes bg-animation {
    0% {
        background-color: white;
    }
    50% {
        background-color: yellow;
    }
    75% {
        background-color: orange;
    }
    87%{
        background-color: red;
    }
    93%{
        background-color: yellow;
    }
    100%{
        background-color: red;
    }
}