

table {
    border-collapse: collapse;
    width: 50vh; /*Uso vh por que quiero que se proporcianal a la altura siempre*/
}
.invisible {
    display: none;
}

.card-hide {
    background-color: blue;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-hide > p {
    display: none;
}

.card-show {
    background-color: coral;
}

.card-show > p {
    display: block;
}