.invisible {
    display: none;
}

.card {
    background-color: antiquewhite;
    border-radius: 1vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-hide {
    background-color: skyblue;
}

.card-hide > p {
    display: none;
}